# Python cache/files
__pycache__/
*.pyc

# Virtual environment
.venv/

# Logs & generated output
pdf2word.log
word_docs/
build/
dist/
*.spec

# Editors / IDE
.vscode/
.idea/
.vs/

# Misc
*.log
launch.txt
